block config
  include variables
doctype html
html(lang="es")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="MobileOptimized" content="width")
    meta(name="HandheldFriendly" content="true")
    meta(name="keywords" content=keywords)
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:image:width" content="1200" )
    meta(property="og:image:height" content="630" )
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="assets/fonts/stylesheet.css")
    link(rel="stylesheet" id="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.nicescroll.min.js")

  body
    block main

    script(src="js/scripts-min.js")


